In [1]:
%load_ext lab_black

In [4]:
import pandas as pd

Create a Series object from python List

In [5]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Rasin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3     Rum Rasin
dtype: object

Create a Series object from python Dictionary

In [9]:
sushi = {"Salmon": "Orange", "Tuna": "Red", "Eel": "Brown"}

pd.Series(sushi).loc["Salmon"]

'Orange'

Methods

In [10]:
print("fredrik johannessen".title())  # Make each word capitalized

prices = pd.Series([1.99, 2.50, 3.08, 0.99])
print(f"Sum:      {prices.sum():.2f}")
print(f"Product: {prices.product():.2f}")
print(f"Mean:     {prices.mean():.2f}")

Fredrik Johannessen
Sum:      8.56
Product: 15.17
Mean:     2.14

## Attributes

A method is a command, while an attribute is an attribute

In [11]:
adjectives = pd.Series(
    ["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"]
)
print(adjectives)

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [12]:
print(adjectives.size)
print(adjectives.is_unique)

6
False

The `values()` method returns a `numpy` array

In [13]:
print(adjectives.values)
print(type(adjectives.values))

['Smart' 'Handsome' 'Charming' 'Brilliant' 'Humble' 'Smart']
<class 'numpy.ndarray'>

In [14]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [15]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [16]:
adjectives.dtype

dtype('O')

## Parameters and Arguments

A parameter is the name we give to an expected input <br>
An argument is the concrete value we give to a parameter

In [17]:
difficulty = "Hard"  # difficulty is the parameter, "hard" is the argument

If you place the cursor inside the empty parantheses and pres shift+tab, you will get info about the method. Try it!

In [18]:
pd.Series()

/var/folders/kv/wv21y92n0ps5t0__kyvr69xw0000gn/T/ipykernel_857/2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [19]:
fruits = ["Apple", "Orange", "Banana", "Pear"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday"]
pd.Series(fruits, weekdays)

Monday        Apple
Tuesday      Orange
Wednesday    Banana
Thursday       Pear
dtype: object

In [24]:
pd.Series(index=weekdays, data=fruits)

Monday        Apple
Tuesday      Orange
Wednesday    Banana
Thursday       Pear
dtype: object

## Import Series with the `pd.read_csv()` function

In [25]:
file_path = "/Users/fredrikjohannessen/Desktop/repositories/pandas-payground/data/"
file_name = "pokemon.csv"
pokemon = pd.read_csv(
    file_path + file_name, usecols=["Pokemon"]
).squeeze()  # Squeeze turns the returned DataFrame to a Series
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [27]:
file_name = "google_stock_price.csv"
google = pd.read_csv(file_path + file_name, usecols=["Stock Price"]).squeeze("columns")
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

Head, Tail, Sample methods

In [28]:
print(google.head(7))
print(google.tail(3))
print(google.sample(10))

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
6    53.02
Name: Stock Price, dtype: float64
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64
1745    310.95
2154    412.24
2074    325.95
2618    500.87
1823    306.19
1860    310.92
126      98.85
2602    516.35
1519    229.94
2353    555.36
Name: Stock Price, dtype: float64

Pandas Series to Pythons built in functions

In [30]:
print(len(pokemon))
print(type(pokemon))
print(dir(pokemon)[0:10])
print(sorted(pokemon)[0:5])
print(list(pokemon)[0:5])
dict(pokemon)
# Long to print out
print(max(pokemon))
print(min(pokemon))

721
<class 'pandas.core.series.Series'>
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__']
['Abomasnow', 'Abra', 'Absol', 'Accelgor', 'Aegislash']
['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon']
Zygarde
Abomasnow

The `sort_values()` method

In [31]:
google.sort_values(ascending=False).head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

The `sort_index()` method

In [32]:
file_name = "pokemon.csv"
pokemon = pd.read_csv(file_path + file_name, index_col="Pokemon").squeeze("columns")
pokemon.sort_index()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

Checking for inclusion with pythons `IN` keyword

In [34]:
"Pikachu" in pokemon  # equivalent to "Pikachu" in pokemon.index
"Grass" in pokemon.values

True

Extracting Series values by Index Position

In [35]:
# Similar to get value of list
google[0]
google[[0, 1, 3]]
google[0:3]

google[-5:]

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

Extract Series values by Index Label

In [36]:
# The following two give the same output:
pokemon[0]
pokemon["Bulbasaur"]

pokemon[["Mewtwo", "Charizard", "Pikachu"]]

Pokemon
Mewtwo        Psychic
Charizard        Fire
Pikachu      Electric
Name: Type, dtype: object

The `get()` method on a Series

In [37]:
pokemon.get("Bulbasaur", "Does not exist")
pokemon.get("Tony Hawk", "Does not exist")
pokemon.get(["Bulbasaur", "Pikachu"])

Pokemon
Bulbasaur       Grass
Pikachu      Electric
Name: Type, dtype: object

Overriding values

In [38]:
pokemon[0] = "Ivan"
pokemon["Harald"] = "Konge"
pokemon[[1, 2, 3]] = ["A", "B", "C"]

The Copy Method

In [39]:
pokemon_df = pd.read_csv(file_path + "pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")
pokemon_series[0] = "Whatever"
print(pokemon_series.head(1))
print(pokemon_df.head(1))

0    Whatever
Name: Pokemon, dtype: object
    Pokemon
0  Whatever

In [40]:
pokemon_df = pd.read_csv(file_path + "pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()
pokemon_series[0] = "Whatever"
print(pokemon_series.head(1))
print(pokemon_df.head(1))

0    Whatever
Name: Pokemon, dtype: object
     Pokemon
0  Bulbasaur

The Inplace Parameter

In [41]:
google = (
    pd.read_csv(file_path + "google_stock_price.csv", usecols=["Stock Price"])
    .squeeze()
    .copy()
)
# This is the recommended way of doing it
google = google.sort_values()
print(google)

# This is the not recommended way of doing it (pandas wants to depricate it)
google.sort_values(inplace=True)
print(google)

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64
11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

Math method on Series object

In [42]:
google = pd.read_csv(
    file_path + "google_stock_price.csv", usecols=["Stock Price"]
).squeeze()

google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()

0    291.21
Name: Stock Price, dtype: float64

Broadcasting

In [43]:
google + 10  # Add 10 to every value of the Series
google.add(10)  # Same as above

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

The `value_counts()` method

In [44]:
pokemon = pd.read_csv(file_path + "pokemon.csv", index_col="Pokemon").squeeze()
pokemon.value_counts(ascending=True)
pokemon.value_counts(sort=False)
pokemon.value_counts(normalize=True, ascending=False) * 100

Water       14.563107
Normal      12.898752
Grass        9.153953
Bug          8.737864
Fire         6.518724
Psychic      6.518724
Rock         5.686546
Electric     4.993065
Ground       4.160888
Poison       3.883495
Dark         3.883495
Fighting     3.467406
Dragon       3.328710
Ghost        3.190014
Ice          3.190014
Steel        3.051318
Fairy        2.357836
Flying       0.416089
Name: Type, dtype: float64

The `apply()` method

In [47]:
pokemon = pd.read_csv(file_path + "pokemon.csv", index_col="Pokemon").squeeze("columns")


def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass", "Fire", "Water"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    return "TBD"


pokemon.apply(rank_pokemon)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

The `map()` method

In [48]:
# Takes as input an associative mapping

pokemon = pd.read_csv(file_path + "pokemon.csv", index_col="Pokemon").squeeze("columns")

mappings = {
    "Fire": "Classic",
    "Water": "Classic",
    "Grass": "Classic",
    "Normal": "Boring",
}

# Take in a dictionary
pokemon.map(mappings)

# Take in a Series object
mappings_series = pd.Series(mappings)
pokemon.map(mappings_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object