[Here](https://pypi.org/project/jupyter-black/) you can download Jupyter Black formatter

In [2]:
import os
import pandas as pd
import jupyter_black

jupyter_black.load()

current_dir = os.path.dirname(os.path.abspath("__file__"))

### Set file path to datasets

In [3]:
pokemon_path = os.path.join(current_dir, "data", "pokemon.csv")
google_path = os.path.join(current_dir, "data", "google_stock_price.csv")

### Create a Series object

In [4]:
# From list
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Rasin"]
pd.Series(ice_cream)
# From Dict
sushi = {"Salmon": "Orange", "Tuna": "Red", "Eel": "Brown"}
pd.Series(sushi).head(3)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

### Methods

In [5]:
print("fredrik johannessen".title())  # Make each word capitalized
prices = pd.Series([1.99, 2.50, 3.08, 0.99])
print(f"Sum:      {prices.sum():.2f}")
print(f"Product: {prices.product():.2f}")
print(f"Mean:     {prices.mean():.2f}")

Fredrik Johannessen
Sum:      8.56
Product: 15.17
Mean:     2.14

## Attributes

A method is a command, while an attribute is an attribute

In [6]:
adjectives = pd.Series(
    ["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"]
)
print(adjectives.size)
print(adjectives.is_unique)

6
False

The `values()` method returns a `numpy` array

In [7]:
print(adjectives.values)
print(type(adjectives.values))

['Smart' 'Handsome' 'Charming' 'Brilliant' 'Humble' 'Smart']
<class 'numpy.ndarray'>

In [8]:
print(adjectives.index)
print(type(adjectives.index))
print(adjectives.dtype)

RangeIndex(start=0, stop=6, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>
object

## Parameters and Arguments

A parameter is the name we give to an expected input <br>
An argument is the concrete value we give to a parameter

In [9]:
difficulty = "Hard"  # difficulty is the parameter, "hard" is the argument

### If you place the cursor inside the empty parantheses and pres shift+tab, you will get info about the method. Try it!

In [9]:
pd.Series();

C:\Users\FJO017\AppData\Local\Temp\ipykernel_19364\575854448.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series();

### Named Index and Values

In [10]:
fruits = ["Apple", "Orange", "Banana", "Pear"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday"]
pd.Series(fruits, weekdays)
pd.Series(index=weekdays, data=fruits)

Monday        Apple
Tuesday      Orange
Wednesday    Banana
Thursday       Pear
dtype: object

## Import Series with the `pd.read_csv()` function

In [11]:
file_name = "pokemon.csv"

# Squeeze turns the returned DataFrame to a Series
pokemon = pd.read_csv(pokemon_path, usecols=["Pokemon"]).squeeze()

google = pd.read_csv(google_path, usecols=["Stock Price"]).squeeze("columns")

google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

### Head, Tail, Sample methods

In [12]:
print(google.head(1))
print(google.tail(2))
print(google.sample(3))

0    50.12
Name: Stock Price, dtype: float64
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64
1581    277.58
489     193.87
1774    260.83
Name: Stock Price, dtype: float64

### Pandas Series to Pythons built in functions

In [13]:
print(len(pokemon))
print(type(pokemon))
print(dir(pokemon)[0:10])
print(sorted(pokemon)[0:5])
print(list(pokemon)[0:5])
dict(pokemon)
# Long to print out
print(max(pokemon))
print(min(pokemon))

721
<class 'pandas.core.series.Series'>
['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__']
['Abomasnow', 'Abra', 'Absol', 'Accelgor', 'Aegislash']
['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon']
Zygarde
Abomasnow

### The `sort_values()` and `sort_index()` methods

In [15]:
google.sort_values(ascending=False).head(3)
google.sort_index(ascending=True).head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

### Checking for inclusion with pythons `IN` keyword

In [16]:
pokemon = pd.read_csv(pokemon_path, index_col="Pokemon").squeeze()

"Pikachu" in pokemon  # equivalent to "Pikachu" in pokemon.index
"Grass" in pokemon.values

True

### Extracting Series values by Index Position

In [17]:
# Similar to get value of list
google[0]
google[[0, 1, 3]]
google[0:3]
google[-5:]

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

### Extract Series values by Index Label

In [18]:
# The following two give the same output:
pokemon[0]
pokemon["Bulbasaur"]
pokemon[["Mewtwo", "Charizard", "Pikachu"]]

Pokemon
Mewtwo        Psychic
Charizard        Fire
Pikachu      Electric
Name: Type, dtype: object

### The `get()` method on a Series

In [19]:
pokemon.get("Bulbasaur", "Does not exist")
pokemon.get("Tony Hawk", "Does not exist")
pokemon.get(["Bulbasaur", "Pikachu"])

Pokemon
Bulbasaur       Grass
Pikachu      Electric
Name: Type, dtype: object

### Overriding values

In [20]:
pokemon[0] = "Ivan"
pokemon["Harald"] = "Konge"
pokemon[[1, 2, 3]] = ["A", "B", "C"]

### The Copy Method

In [21]:
pokemon_df = pd.read_csv(pokemon_path, usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")
pokemon_series[0] = "Whatever"
print(pokemon_series.head(1))
print(pokemon_df.head(1))

0    Whatever
Name: Pokemon, dtype: object
    Pokemon
0  Whatever

In [22]:
pokemon_df = pd.read_csv(pokemon_path, usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()
pokemon_series[0] = "Whatever"
print(pokemon_series.head(1))
print(pokemon_df.head(1))

0    Whatever
Name: Pokemon, dtype: object
     Pokemon
0  Bulbasaur

### The Inplace Parameter

In [23]:
google = pd.read_csv(google_path, usecols=["Stock Price"]).squeeze().copy()
# This is the recommended way of doing it
google = google.sort_values()
print(google.head(3))

# This is the not recommended way of doing it (pandas wants to depricate it)
google.sort_values(inplace=True)
print(google.head(3))

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64
11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

### Math method on Series object

In [24]:
google.count()
google.sum()
google.mean()
google.product()
google.std()
google.min()
google.max()
google.median()
google.mode()

0    291.21
Name: Stock Price, dtype: float64

### Broadcasting

In [25]:
google + 10  # Add 10 to every value of the Series
google.add(10).head(3)  # Same as above

11    59.95
9     60.07
0     60.12
Name: Stock Price, dtype: float64

### The `value_counts()` method

In [26]:
pokemon = pd.read_csv(pokemon_path, index_col="Pokemon").squeeze()
pokemon.value_counts(ascending=True)
pokemon.value_counts(sort=False)
(pokemon.value_counts(normalize=True, ascending=False) * 100).head(3)

Water     14.563107
Normal    12.898752
Grass      9.153953
Name: Type, dtype: float64

### The `apply()` method

In [27]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass", "Fire", "Water"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    return "TBD"


pokemon.apply(rank_pokemon).head(3)

Pokemon
Bulbasaur    Classic
Ivysaur      Classic
Venusaur     Classic
Name: Type, dtype: object

### The `map()` method

In [28]:
# Takes as input an associative mapping
mappings = {
    "Fire": "Classic",
    "Water": "Classic",
    "Grass": "Classic",
    "Normal": "Boring",
}

# Take in a dictionary
pokemon.map(mappings)

# Take in a Series object
mappings_series = pd.Series(mappings)
pokemon.map(mappings_series).head(3)

Pokemon
Bulbasaur    Classic
Ivysaur      Classic
Venusaur     Classic
Name: Type, dtype: object