# `df[]` vs `df.loc[]`

In [25]:
import pandas as pd

Define my dataframe

In [26]:
df = pd.DataFrame(
    data = {
        "col1": [1,2,3],
        "col2": ["a", "b", "c"],
    }
)

Create a second dataframe using `df[]` which is a subset of the first

In [27]:
mask = df["col1"] == 1
df_2 = df[mask]

Create a third dataframe using `df.loc[]` which is a subset of the first

In [28]:
mask = df["col1"] > 1
df_3 = df.loc[mask]

Change the second and third dataframe dataframe

In [29]:
mask = df_2["col1"] == 1
df_2.loc[mask, "col1"] = 2

mask = df_3["col1"] == 2
df_3.loc[mask, "col1"] = 5

We see that the original dataframe is not changed no matter if we used `df[]` or `df.loc[]` to create a subset-copy

In [30]:
display(df_2)
display(df_3)
display(df)

   col1 col2
0     2    a

   col1 col2
1     5    b
2     3    c

   col1 col2
0     1    a
1     2    b
2     3    c